<h1>New Event</h1>
<hr>
<div class="col-md-6">
    <form #eventForm="ngForm" (ngSubmit)="saveEvent(eventForm.value)" autocomplete="off" novalidate>
        <div class="form-group"
            [ngClass]="{'error': eventForm.controls.name?.invalid && eventForm.controls.name?.touched}">
            <label for="eventName">Event Name:</label>
            <em *ngIf="eventForm.controls.name?.invalid && (eventForm.controls.name?.touched)">Required</em>
            <input [(ngModel)]="event.name" name="name" required id="name" type="text" class="form-control"
                placeholder="Name of your event..." />
        </div>
        <div class="form-group"
            [ngClass]="{'error': eventForm.controls.date?.invalid && eventForm.controls.date?.touched}">
            <label for="eventDate">Event Date:</label>
            <em *ngIf="eventForm.controls.date?.invalid && (eventForm.controls.date?.touched)">Required</em>
            <input [(ngModel)]="event.date" name="date" required id="eventDate" type="text" class="form-control"
                placeholder="format (mm/dd/yyyy)..." />
        </div>
        <div class="form-group"
            [ngClass]="{'error': eventForm.controls.time?.invalid && eventForm.controls.time?.touched}">
            <label for="eventTime">Event Time:</label>
            <em *ngIf="eventForm.controls.time?.invalid && (eventForm.controls.time?.touched)">Required</em>
            <input [(ngModel)]="event.time" name="time" required id="eventTime" type="text" class="form-control"
                placeholder="start and end time..." />
        </div>
        <div class="form-group"
            [ngClass]="{'error': eventForm.controls.price?.invalid && eventForm.controls.price?.touched}">
            <label for="eventPrice">Event Price:</label>
            <em *ngIf="eventForm.controls.price?.invalid && (eventForm.controls.price?.touched)">Required</em>
            <input [(ngModel)]="event.price" name="price" required id="eventPrice" type="text" type="number"
                class="form-control" placeholder="event price..." />
        </div>

        <div ngModelGroup="location" >
            <div class="form-group">
                <label for="address">Event Location:</label>
                <input [(ngModel)]="event.address" name="address" id="address" type="text" class="form-control"
                    placeholder="Address of event..." />
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <label for="city">City</label>
                    <input [(ngModel)]="event.city" name="city" id="city" type="text" class="form-control"
                        placeholder="City..." />
                </div>
                <div class="col-md-6">
                    <label for="country">Country:</label>
                    <input [(ngModel)]="event.country" name="country" id="country" type="text" class="form-control"
                        placeholder="Country..." />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="onlineUrl">Online Url:</label>
            <input [(ngModel)]="event.onlineUrl" name="onlineUrl" id="onlineUrl" type="text" class="form-control"
                placeholder="Online Url..." />
        </div>
        <div class="form-group"
            [ngClass]="{'error': eventForm.controls.imageUrl?.invalid && eventForm.controls.imageUrl?.touched}">
            <label for="imageUrl">Image:</label>
            <em
                *ngIf="eventForm.controls.imageUrl?.invalid && eventForm.controls.imageUrl?.touched && eventForm.controls.imageUrl?.errors.required">Required</em>
            <em
                *ngIf="eventForm.controls.imageUrl?.invalid && eventForm.controls.imageUrl?.touched  && eventForm.controls.imageUrl?.errors.pattern">Must
                be a png or jpg url</em>
            <input [(ngModel)]="event.imageUrl" name="imageUrl" required pattern=".*\/.*.(png|jpg)" id="imageUrl"
                type="text" class="form-control" placeholder="url of image..." />
            <img [src]="eventForm.controls.imageUrl.value" *ngIf="eventForm.controls.imageUrl?.valid" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" [disabled]="eventForm.invalid" class="btn btn-default"
            (click)="cancel()">Cancel</button>
    </form>
</div>